* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: 1.6;
  color: $text-primary;
  background-color: $bg-secondary;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-lg;
  
  @include responsive(tablet) {
    padding: 0 $spacing-md;
  }  
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacing-md;
  font-weight: 700;
  color: $dark-color;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-lg;
}

p {
  margin-bottom: $spacing-md;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: color $transition-fast;
  
  &:hover {
    color: darken($primary-color, 15%);
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  text-align: center;
  margin-bottom: spacing(2);
  font-size: $font-size-xl;
  color: $dark-color;
  position: relative;
  padding-bottom: $spacing-md;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: $primary-color;
  }
}

