// Importa els distints arxius partials aqui. Ordre...?

@import "variables";
@import "functions";
@import "mixins";
@import "features";
@import "badges";
@import "buttons";
@import "cards";
@import "footer";
@import "header";
@import "hero";
@import "newsletter";
@import "products";
@import "base";