
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{
    background-color: whitesmoke;
}

header.container{
    display: flex;
}


header .container {
    height: 50px;
    margin: auto;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container ul {
    display: flex;
    list-style: none;
    margin: 0;
}

header .container ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: whitesmoke;
}

header .container ul li {
    background-color: whitesmoke;
    position: relative;
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

header .container ul a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    letter-spacing: 1px;
}

header .container ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
}

header .container ul ul li {
    float: none;
    width: 123px;
    margin: 0;
}

header .container ul li:hover > ul {
    display: block;
}

header .container ul li a:hover {
    opacity: 0.6;
}

header .container ul li:hover > ul {
    display: block;
}


.introduccio h2{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 50px;
}

#inici{
    background-color: whitesmoke;
    padding-right: 300px;
    padding-left: 300px;
    padding-bottom: 100px;
}
#inici p{
    text-align: justify;
}

#inici .container{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

main{
    background-color: darkblue;
}


