@function calcular-spacing-valor($nivel) {
  @if $nivel == 0 { @return 0; }
  @else if $nivel == 1 { @return 0.25rem; }
  @else if $nivel == 2 { @return 0.5rem; }
  @else if $nivel == 3 { @return 0.75rem; }
  @else if $nivel == 4 { @return 1rem; }
  @else if $nivel == 5 { @return 1.5rem; }
  @else if $nivel == 6 { @return 2rem; }
  @else if $nivel == 7 { @return 3rem; }
  @else if $nivel == 8 { @return 4rem; }
  @return 0;
}