//Flexbox is a layout model for arranging items (horizontally or vertically) within a container, in a flexible and responsive way.

// · A Flex Container - The parent (container) element, where the display property is set to flex or inline-flex
// · One or more Flex Items - The direct children of the flex container automatically becomes flex items


//Propietats del contenidor Pare
h1{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

//The Grid Layout Module offers a grid-based layout system, with rows and columns.
//The Grid Layout Module allows developers to easily create complex web layouts.

// · A Grid Container - The parent (container) element, where the display property is set to grid or inline-grid
// · One or more Grid Items - The direct children of the grid container automatically becomes grid items

h2{
  display : grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}



//IMPORTS

// @import 'variables';  Arxiu on van totes les variables

//Entre variables i mixins es poc crear colors per a posar els colors en lloc de dins variables

// @import 'mixins';  Arxiu on es guarden tots els mixins
// @import "utilities";   Conté els fors, each if elses...

//MIXINS: Serveixen per unificar codi

@mixin color-fontSize(
  $color,
  $font-size
){
  color: $color;
  font-size: $font-size;
}

@mixin width-padding($width, $padding){
  width: $width;
  padding: $padding;
}

//Cridada als mixins:

@include width-padding($amplada-targeta, $padding-targeta);
@include color-fontSize($color-gris, $tamany-targeta-descripcio-font);

//IF ESE

@use "sass:math";

@mixin avatar($size, $circle: false) {
  width: $size;
  height: $size;

  @if $circle {
    border-radius: math.div($size, 2);
  }
}

.square-av {
  @include avatar(100px, $circle: false);
}
.circle-av {
  @include avatar(100px, $circle: true);
}

//Resultat d'aquest IF ELSE

.square-av {
  width: 100px;
  height: 100px;
}

.circle-av {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}


//For

$base-color: #036;

@for $i from 1 through 3 {
  ul:nth-child(3n + #{$i}) {
    background-color: lighten($base-color, $i * 5%);
  }
}


//Resultat del for

ul:nth-child(3n+1) {
  background-color: rgb(0, 63.75, 127.5);
}

ul:nth-child(3n+2) {
  background-color: rgb(0, 76.5, 153);
}

ul:nth-child(3n+3) {
  background-color: rgb(0, 89.25, 178.5);
}

//Each: serveix per evaluar el codi de cada element d'una llista

$sizes: 40px, 50px, 80px;

@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}

//Resultat de EACH


CSS Output
.icon-40px {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.icon-50px {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.icon-80px {
  font-size: 80px;
  height: 80px;
  width: 80px;
}

//FUNCTION: serveixen per crear operacions complexes per re-utilitzar al css

@function pxToRem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

.button {
  font-size: pxToRem(18);
  padding: pxToRem(12) pxToRem(20);
}

//Resultat de function

.button {
  font-size: 1.125rem;
  padding: 0.75rem 1.25rem;
}

