@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #3B82F6;
    --color-accent: #F59E0B;
    --color-dark: #1F2937;
    --color-light: #F3F4F6;

    --font-main: "Outfit", sans-serif;
}
