
@mixin flexbox(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin color-fontSize(
  $color,
  $font-size
){
  color: $color;
  font-size: $font-size;
}

@mixin width-padding($width, $padding){
  width: $width;
  padding: $padding;
}

@mixin background_color-color($bgcolor, $color){
  background-color: $bgcolor;
  color: $color;
}

@mixin crearMarges() {
  @for $i from 0 through 8 {
    .m-#{$i} {
      margin: space($i);
    }
  }
}