@import "tailwindcss";

@theme {

    --color-theme: #6366F1;
    --color-accent: #F59E0B;
    --color-marca-fons: black;
    --color-text-clar: #E0E7FF;

    --font-titol: "Montserrat", ui-sans-serif, system-ui, sans-serif;

    --spacing-18: 4.5rem;

}