name: "vanilla"
services:
  vanilla-app:
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8082:5173"
    command: ["sh", "-c", "npm run build && npm run dev"]