// ================== COLORS ==================
$color-gris: gray;
$color-blanc: white;
$color-blau: blue;
$color-verd: green;
$color-blau-fosc: darken($color-verd, 10%);
$color-groc-fluix: lightyellow;
$color-gris-fort: #333333;
$color-titol-imatge: darkkhaki;

$color-boto-hover: $color-blau-fosc;
$color-boto-enviar-hover: $color-verd;
$color-galeria-hover-shadow: rgba(0, 0, 0, 0.1);
$color-enllaç-after: $color-blau;
$color-enllaç-hover: $color-blau;
$color-enllaç-actiu: $color-blau;
$color-membre-card-bg: $color-groc-fluix;
$color-xarxa-bg-hover: $color-blau;
$color-xarxa-color-hover: $color-blanc;

// ================== TAMANYS ==================
$amplada-targeta: 300px;
$tamany-targeta-titol-font: 1.5rem;
$tamany-targeta-descripcio-font: 1rem;
$tamany-targeta-targeta-font: 2rem;

$amplada-formulari: 36rem;
$amplada-maxima: 100%;
$amplada33percent: 33%;

$amplada-logo: 2.5rem;
$altura-header: 4rem;

$amplada-mebre-card: 18rem;

$amplada-galeria-item: 33%;
$amplada-avatar: 7.5rem;
$altura-avatar: 7.5rem;
$borde-avatar: 0.25rem;
$border-radius-avatar: 50%;
$altura-enllaç: 2.5rem;
$line-height-xarxa: 2.5rem;
$gap-xarxa: 0.75rem;

$tamany-titol: 18px;
$tamany-nom: 1.5rem;
$tamany-carrec: 1rem;
$tamany-font-generic: 1rem;

// ================== PADDINGS ==================
$padding-targeta: 1.5rem;
$padding-boto-compra: 1rem 1.5rem;
$padding-input: 1rem;
$padding-boto-enviar: 1rem;
$padding-formulari: 2rem;
$padding-galeries: 2rem;
$padding-header: 0 2.5rem;
$padding-enllac: 0.625rem 0.9375rem;
$padding-equip: 2.5rem;
$padding-membre-card: 1.5rem;

// ================== MARGES ==================
$marge-formulari: auto;
$camp-marge-bottom: 1rem;
$marge-top-titol: 1rem;
$espai-galeries: 1rem;
$navegacio-gap: 0.3rem;

$marge-bottom-nom: 0.5rem;
$marge-bottom-carrec: 1rem;

// ================== BORDES ==================
$borde-targeta: 1px;
$border-input: 1px solid black;
$membre-card-border-radius: 0.5rem;

// ================== SOOMBRES ==================
$sombra-imatages: 0 4px 8px rgba(0, 0, 0, 0.1);
$sombra-hover-galeria: 0 8px 16px rgba(0, 0, 0, 0.1);

// ================== POSICIONS ==================
$posicio-centrada: center;
$posicio-relativa: relative;
$posicion-absoluta: absolute;

// ================== DISPLAY / FLEX ==================
$display-block: block;
$separacio-space-between: space-between;
$flex-wrap-equip: wrap;
$display: flex;
$justify-center: center;

// ================== FONT WEIGHT ==================
$font-weight-bold: bold;

// ================== TRANSICIONS ==================
$enllac-transition: 0.3s ease;
$transition-membre-card: $enllac-transition;
$transition-xarxa-enllaç: $enllac-transition;

// ================== ALTRES ==================
$focus-border: 2px solid $color-blau;
$contingut-none: none;
$textarea-field-sizing: content;
$translate-hover-membre: -0.5rem;
$gap-equip: 1.5rem;


$valors: (0rem, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.5rem, 2rem, 3rem, 4rem);

$displays : (block, inline, inline-block, flex, inline-flex, grid, inline-grid, none, contents, flow-root);
$positions: (static, relative, absolute, fixed, sticky);
$position-values: (0, auto);
$position-locations: (top , right ,bottom,left)