@import 'variables';
@import 'mixins';
@import "utilities";


.targeta-producte {
  @include width-padding($amplada-targeta, $padding-targeta);
  border: $borde-targeta;

  .titol {
    @include color-fontSize($color-blau-fosc, $tamany-targeta-titol-font);
  }

  .descripcio {
    @include color-fontSize($color-gris, $tamany-targeta-descripcio-font);
  }

  .preu {
    font-weight: $font-weight-bold;
    color: $color-verd;
    font-size: $tamany-targeta-targeta-font;
  }

  .boto-compra {
    @include background_color-color($color-blau, $color-blanc);
    padding: $padding-boto-compra;

    &:hover {
      background-color: $color-boto-hover;
    }
  }
}

.formulari {
  @include width-padding($amplada-formulari, $padding-formulari);
  margin: $marge-formulari;

  .camp {
    label {
      margin-bottom: $camp-marge-bottom;
      font-weight: $font-weight-bold;
    }

    input, textarea {
      @include width-padding($amplada-maxima, $padding-input);
      margin-bottom: $camp-marge-bottom;
      font-size: $tamany-font-generic;
      &:focus {
        border: $focus-border;
        outline: $contingut-none;
      }
    }

    textarea {
      field-sizing: $textarea-field-sizing;
    }
  }

  .boto-enviar {
    @include width-padding($amplada-maxima, $padding-boto-enviar);
    background-color: $color-verd;
    @include color-fontSize($color-blanc, $tamany-font-generic);

    &:hover {
      background-color: $color-boto-enviar-hover;
    }
  }
}

.galeria {
  @include flexbox(flex, $posicio-centrada);
  gap: $espai-galeries;
  padding: $padding-galeries;

  .galeria-item {
    width: $amplada33percent;
    overflow: hidden;

    img {
      box-shadow: $sombra-imatages;
      width: $amplada-maxima;
      display: $display-block;

      &:hover {
        box-shadow: $sombra-hover-galeria;
        scale: 1.1;
      }
    }

    .titol {
      text-align: $posicio-centrada;
      margin-top: $marge-top-titol;
      @include color-fontSize($color-blau, $tamany-titol);
    }
  }
}

.header {
  @include flexbox(flex, $separacio-space-between);
  align-items: $posicio-centrada;
  height: $altura-header;
  padding: $padding-header;
  background-color: $color-groc-fluix;

  .logo img {
    width: $amplada-logo;
    display: $display-block;
  }

  .navegacio {
    @include flexbox(flex);
    gap: $navegacio-gap;

    .enllaç {
      position: $posicio-relativa;
      padding: $padding-enllac;
      color: $color-gris;
      text-decoration: $contingut-none;
      transition: color $enllac-transition;

      &::after {
        content: "";
        position: $posicion-absoluta;
        bottom: 0;
        left: 0;
        height: 0.2rem;
        width: $amplada-maxima;
        background-color: $color-enllaç-after;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform $enllac-transition;
      }

      &:hover {
        color: $color-enllaç-hover;

        &::after {
          transform: scaleX(1);
        }
      }

      &.actiu {
        color: $color-enllaç-actiu;
        font-weight: $font-weight-bold;

        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.equip {
  @include flexbox(flex, $posicio-centrada);
  gap: $gap-equip;
  padding: $padding-equip;
  background-color: $color-groc-fluix;
  flex-wrap: $flex-wrap-equip;

  .membre-card {
    @include width-padding($amplada-mebre-card, $padding-membre-card);
    background-color: $color-membre-card-bg;
    border-radius: $membre-card-border-radius;
    text-align: $posicio-centrada;
    transition: transform $transition-membre-card;

    &:hover {
      transform: translateY($translate-hover-membre);
    }

    .avatar {
      width: $amplada-avatar;
      height: $altura-avatar;
      margin-bottom: 1rem;
      border: $borde-avatar solid $color-blau;
      border-radius: $border-radius-avatar;
      object-fit: cover;
    }

    .nom {
      @include color-fontSize($color-gris-fort, $tamany-nom);
      font-weight: $font-weight-bold;
      margin-bottom: $marge-bottom-nom;
    }

    .carrec {
      @include color-fontSize($color-gris, $tamany-carrec);
      margin-bottom: $marge-bottom-carrec;
    }

    .xarxes {
      @include flexbox(flex, $posicio-centrada);
      gap: $gap-xarxa;

      .xarxa-enllaç {
        @include background_color-color($color-membre-card-bg, $color-gris);
        display: inline-block;
        width: $altura-enllaç;
        height: $altura-enllaç;
        border-radius: 50%;
        line-height: $line-height-xarxa;
        text-align: $posicio-centrada;
        text-decoration: $contingut-none;
        transition: all $transition-xarxa-enllaç;

        &:hover {
          @include background_color-color($color-xarxa-bg-hover, $color-xarxa-color-hover);
        }
      }
    }
  }
}


