//Amplada màxima de 36rem, un marge automàtic i un padding de 2 rem.
//Cada classe camp (label i input) ha de tenir un marge inferior (margin-bottom) de 1rem.
//Les etiquetes (label) han d’estar en negreta.
//Els inputs han de tenir una amplada del 100%, un padding de 1 rem, 1 vora d’1px negre i un
//tamany de lletra de 1 rem.

//Quan l’input té el focus, la vora ha de ser blava amb amplada de 2px.
//Al text area escriu el següent: field-sizing: content;
//El botó d’enviar ha de tenir un padding de 1rem, fons verd, un tamany de lletra de 1 rem,
// una amplada del 100%, text blanc i quan es passi el ratolí per sobre, el verd ha de passar a un verd fosc.


$color-verd: green;
$color-blanc: white;
$color-verd-obscur: darkgreen;

$amplada-formulari: 36rem;
$marge-formulari: auto;
$padding-formulari: 2rem;

$camp-marge-bottom: 1rem;
$amplada-maxima: 100%;
$padding-input: 1rem;
$border-input: 1px black solid;
$tamany-font-generic: 1rem;

$focus-border: 2px solid blue;
$focus-outline : none;
$textarea-field-sizing: content;

$padding-boto-enviar: 1rem;

.formulari{
  width: $amplada-formulari;
  margin: $marge-formulari;
  padding: $padding-formulari;
}

.camp label{
  margin-bottom: $camp-marge-bottom;
  font-weight: bold;
}

.camp input{
  margin-bottom: $camp-marge-bottom;
  width: $amplada-maxima;
  padding: $padding-input;
  border: $border-input;
  font-size: $tamany-font-generic;
  &:focus{
    border: $focus-border;
    outline: $focus-outline;
  }
}

.camp textarea{
  field-sizing: $textarea-field-sizing;
  width: $amplada-maxima;
  &:focus{
    border: $focus-border;
    outline: $focus-outline;
  }
}

.boto-enviar{
  padding: $padding-boto-enviar ;
  background-color: $color-verd;
  font-size: $tamany-font-generic;
  width: $amplada-maxima;
  color: $color-blanc;
}

.boto-enviar:hover{
  background-color: $color-verd-obscur;
}
