//Header:
//Utilitzar el display flex per organitzar els elements en horizontal.
//Distribuir l’espai entre els elements (icono i barra de navegació)
//Centrar verticalment els elements amb align-items: center.
//El header ha de tenir una altura de 4rem i un padding horizontal de 2.5rem, amb un fons lightyellow.
//
//Icono:
//La imatge ha de tenir una amplada de 2.5rem.
//L’icono s’ha de comportar com a bloc.
//
//Navegació:
//Els enllaços han d’estar en línia.
//Els espais entre els enllaços ha de ser de 0.3rem.
//
//Enllaços
//Padding de 0.625rem i 0.9375rem, amb un color de text darkgrey i sense tenir cap tipus de decoració.
//La posició serà relativa.
//La línia inferior amb un pseudo-element ::after tendrà:
//Una línia de 0.2rem d’altura
//Un color de línia blau
//Posicionar-lo a la part inferior de l’enllaç (bottom: 0, left: 0).
//Amplada del 100%.
//Ocultar-la inicialment amb el “transform:scaleX(0);” i aplicant una transició suau “transition:
//transform 0.3s ease;”

//L’efecte d’hover dels enllaços tendrà:
//Un color de text blau i una visibilitat de la línia inferior “transform:scaleX(1);”
//L’efecte per l’enllaç actiu (només s’aplicarà a inici ara):
//Un color de text blau, en negreta i una visibilitat de la línia inferior “transform:scaleX(1);”

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 2.5rem;
  background-color: lightyellow;
}

.logo img {
  width: 2.5rem;
  display: block;
}

.navegacio {
  display: flex;
  gap: 0.3rem;
}

.enllaç {
  position: relative;
  padding: 0.625rem 0.9375rem;
  color: darkgrey;
  text-decoration: none;
  transition: color 0.3s ease;
}

.enllaç::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  width: 100%;
  background-color: blue;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}


.enllaç:hover {
  color: blue;
}

.enllaç:hover::after {
  transform: scaleX(1);
}


.enllaç.actiu {
  color: blue;
  font-weight: bold;
}

.enllaç.actiu::after {
  transform: scaleX(1);
}